<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{admin/fragments/head :: head}"></head>
<body>
    <nav th:replace="~{admin/fragments/menu :: menu}"></nav>
    <div th:replace="~{admin/fragments/navbar :: navbar}"></div>
    <div id="content" class="bg-w p-3">
        <div class="container profile-container p-4">
            <div class="fs-1 mb-4 fw-bold">Edit User Profile</div>
            <div class="d-flex gap-5">
                <div class="card w-50 h-25">
                    <img class="card-img-top" th:src="@{/assets/Login_background.png}" alt="Card image" height="200" width="300">
                    <img class="img-profile position-absolute" th:src="@{/assets/images/Huan.png}" alt="Card image" width="100" height="100">
                    <div class="card-body mt-5">
                        <h4 class="card-title">Your Photo</h4>
                        <p class="card-text fs-7 text-secondary">This will be displayed on your profile</p>
                        <div class="gap-3">
                            <a href="#" role="button" id="actual-btn" class="btn btn-secondary rounded-4 mx-4">Update new</a>
                            <a href="#" class="btn btn-primary px-4 rounded-4">Save</a>
                        </div>
                    </div>
                </div>
                <div class="card w-50 h-25 p-4">
                    <span class="fs-4">Personal Information</span>
                    <form >
                        <div class="mb-3 mt-3">
                            <label for="name" class="form-label">Full Name</label>
                            <input type="email" class="form-control" id="name" placeholder="Enter your full name" name="name">
                        </div>
                        <div class="mb-3 mt-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="email" placeholder="Enter your full email" name="email">
                        </div>
                        <div class="mb-3">
                            <label for="phone" class="form-label">Mobile number</label>
                            <input type="password" class="form-control" id="phone" placeholder="Enter your Phone" name="pswd">
                        </div>
                        <div class="mb-3">
                            <label for="role">Role:</label>
                            <div>
                                <select class="form-select mt-2" id="role" >
                                    <option value="User">User</option>
                                    <option value="Admin">Admin</option>
                                </select>
                            </div>
                        </div>
                        
                        <button type="submit" class="btn btn-primary">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script th:replace="~{admin/fragments/script :: script}"></script>
</body>

</html>