.btn-signup {
  background: #3A6F7E;
  border-radius: 10px;
}

.log-in-btn{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #3A6F7E;
}