.tooltip {
    position: absolute;
    background-color: #555;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    z-index: 9999; /* Ensure it's above other elements */
}

.list-subscriber{
    max-height: 600px;
    overflow-y: scroll;
}

/* ====== Subscriber ====== */
.search-box input:focus {
    outline: none;
    box-shadow: none;
}

.img-profile{
top: 37%;
left: 5%;
}