@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.psw-link{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    line-height: 29px;
    color: #666666;
}

.btn-login {
    background: #198754;
    border-radius: 10px;
}

.sign-up-btn{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #198754;
}

.logo-name {}

.color-web-text{
    background: linear-gradient(to right, #009c40, #00E577);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
body {
    overflow: hidden;
}