<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/pages/Profile/profile.css}">
    <link rel="stylesheet" th:href="@{/pages/Subscribers/subscribers.css}">
    <link rel="stylesheet" th:href="@{/pages/Order/order.css}">
    <link rel="stylesheet" th:href="@{/pages/Voucher/voucher.css}">
    <link rel="stylesheet" th:href="@{/pages/Product/product.css}">
    <link rel="stylesheet" th:href="@{/pages/Dashboard/dashboard.css}">
    <link rel="stylesheet" th:href="@{/displays/AdminDisplay/admin.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>