<!-- Contact -->
<div class="container" th:fragment="footer">
    <div class="row">
        <div class="col-md-4 pt-5">
            <h2 class="h2 border-bottom pb-3 border-light text-success">SkyEdge</h2>
            <ul class="list-unstyled text-light footer-link-list">
                <li>
                    <i class="fas fa-map-marker-alt fa-fw"></i>
                    Hanoi University
                </li>

                <li>
                    <i class="fa fa-phone fa-fw"></i>
                    <a class="text-decoration-none" href="tel:032-323-3232">032-323-3232</a>
                </li>

                <li>
                    <i class="fa fa-envelope fa-fw"></i>
                    <a class="text-decoration-none" href="mailto:hanu@gmail.com">hanu@gmail.com</a>
                </li>
            </ul>
        </div>

        <!-- Product -->
        <div class="col-md-4 pt-5">
            <h2 class="h3 text-light border-bottom pb-3 border-light foot-title">Products</h2>
            <ul class="list-unstyled text-light footer-link-list">
                <li><a class="text-decoration-none" href="/shop?category=Luxury&sortMode=0">Luxury</a></li>
                <li><a class="text-decoration-none" href="/shop?category=Trending&sortMode=0">Trending</a></li>
                <li><a class="text-decoration-none" href="/shop?category=Men%27s%20glasses&sortMode=0">Men's Glass</a></li>
                <li><a class="text-decoration-none" href="/shop?category=Women%27s%20glasses&sortMode=0">Women's Glass</a></li>
                <li><a class="text-decoration-none" href="/shop?category=Sunglasses&sortMode=0">Sunglasses</a></li>
                <li><a class="text-decoration-none" href="/shop?category=Accessories&sortMode=0">Accessories</a></li>
                <li><a class="text-decoration-none" href="/shop?category=Eyeglass%20Frame&sortMode=0">Eyeglass Frames</a></li>
            </ul>
        </div>

        <!-- Futher infor -->
        <div class="col-md-4 pt-5">
            <h2 class="h3 text-light border-bottom pb-3 border-light foot-title">Pages</h2>
            <ul class="list-unstyled text-light footer-link-list">
                <li><a class="text-decoration-none" href="/">Home</a></li>
                <li><a class="text-decoration-none" href="/shop">Shop</a></li>
                <li><a class="text-decoration-none" href="/about-us">About</a></li>
                <li><a class="text-decoration-none" href="#">FAQs</a></li>
                <li><a class="text-decoration-none" href="/contact-us">Contact</a></li>
            </ul>
        </div>
    </div>

    <!-- Social contacts -->
    <div class="row text-light mb-4">
        <div class="col-12 mb-3">
            <div class="w-100 my-3 border-top border-light"></div>
        </div>

        <div class="col-auto me-auto">
            <ul class="list-inline text-left footer-icons">
                <li class="list-inline-item border border-light rounded-circle text-center">
                    <a class="text-light text-decoration-none" target="_blank" href="http://facebook.com/"><i
                            class="fab fa-facebook-f fa-lg fa-fw"></i></a>
                </li>

                <li class="list-inline-item border border-light rounded-circle text-center">
                    <a class="text-light text-decoration-none" target="_blank" href="https://www.instagram.com/"><i
                            class="fab fa-instagram fa-lg fa-fw"></i></a>
                </li>

                <li class="list-inline-item border border-light rounded-circle text-center">
                    <a class="text-light text-decoration-none" target="_blank" href="https://twitter.com/"><i
                            class="fab fa-twitter fa-lg fa-fw"></i></a>
                </li>

                <li class="list-inline-item border border-light rounded-circle text-center">
                    <a class="text-light text-decoration-none" target="_blank" href="https://www.linkedin.com/"><i
                            class="fab fa-linkedin fa-lg fa-fw"></i></a>
                </li>
            </ul>
        </div>

        <!-- Email subscriber -->
        <div class="col-auto">
            <div class="container-fluid col-auto">
                <form class="d-flex" role="search" method="post" action="/sendEmail">
                    <input class="form-control me-2" type="email" name="email" placeholder="Enter your email" required>
                    <button class="btn btn-outline-success" type="submit">Subscribe</button>
                </form>

            </div>
        </div>
    </div>
</div>