<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{admin/fragments/head :: head}"></head>

<body>
    <nav th:replace="~{admin/fragments/menu :: menu}"></nav>

    <div th:replace="~{admin/fragments/navbar :: navbar}"></div>

    <div id="content" class="bg-w p-3">
        <div class="order-popup">
            <div class="order-popup-content">

                <div class="col d-flex rounded-3">
                    <div class="col-7 d-flex flex-column left-content p-4">
                        <span class="fw-bold fs-4 text-start mb-4 text-primary"
                            th:text="'Order Details #' + ${order.orderId}"></span>
                        <div class="item"></div>
                        <div class="d-flex flex-row p-2 rounded justify-content-between align-items-center"
                            th:each="product: ${products}">
                            <div class="d-flex w-100 align-items-center justify-content-between">
                                <div class="item-info text-start d-flex gap-2">
                                    <div class=" d-inline-block">
                                        <img loading="lazy" th:src="@{'/images/' + ${product.product.imageFileName}}"
                                            class=" item-img rounded-3" width="100" height="100">
                                    </div>
                                    <div class="d-flex flex-column">
                                        <p class="item-name fw-bold" th:text="${product.product.name}"></p>
                                        <p id="var-value" th:text="'Quantity: ' + ${product.quantity}"></p>
                                    </div>
                                </div>
                                <div class="h-100">
                                    <p class="fw-bold fs-5" th:text="'$' + ${product.product.price*product.quantity}">
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex flex-row p-2 rounded justify-content-between align-items-center">
                            <p class="flex-grow-1">Discount</p>
                            <p th:text="${order.discount} +'%'"></p>
                        </div>
                        <div class="d-flex flex-row p-2 rounded justify-content-between align-items-center">
                            <p class="flex-grow-1">Total cost</p>
                            <p th:text="'$' + ${order.cost}"></p>
                        </div>


                    </div>
                    <div class="col-5 right-content p-4 d-flex flex-column gap-4">
                        <div class="d-flex flex-column mt-5">
                            <span class="fw-bold fs-4 text-start mb-3">Customer Info</span>
                            <div class="d-flex gap-3 mb-2 align-items-center">
                                <!-- <img class="rounded-circle" height="60" width="60" src="" alt="User Avatar"> -->
                                <div class="d-flex flex-column h-100">
                                    <span class="text-start" th:text="'User name: ' + ${order.customerName}"></span>
                                    <span class="text-start" th:text="'Email: ' +${order.email} "></span>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex flex-column">
                            <span class="fw-bold fs-4 text-start mb-3">Delivery Details</span>
                            <div class="d-flex flex-column h-100">
                                <span class="text-start" th:text="'Address: '+ ${order.address}">Address:
                                    OrderAddress</span>
                                <span class="text-start" th:text="'Phone: '+ ${order.phone}">Phone: OrderPhone</span>
                            </div>
                        </div>
                        <div class="d-flex flex-column">
                            <span class="fw-bold fs-4 text-start mb-3">Payment Info</span>
                            <div class="d-flex flex-column h-100">
                                <span class="text-start">Payment Method: Cast</span>
                                <span class="text-start" th:text="'Transaction No: '+ ${order.orderId}"></span>
                            </div>
                        </div>
                        <buttonGrp class="buttonGrp">
                            <a class="btn px-3 py-2 btn-outline-secondary rounded-3" th:href="@{/admin/order}">Go
                                back</a>
                            <!-- <button class="btn px-3 py-2 btn-outline-primary rounded-3">Save Changes</button> -->
                        </buttonGrp>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script th:replace="~{admin/fragments/script :: script}"></script>
</body>

</html>