@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

header{
    display: flex;
    align-items: center;
    border-bottom: 1px solid gray;
    justify-content: space-between;
}

.nav-bar a {
    margin: 24px;
    text-decoration: none;
    color: black;
}