@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


* {
    margin: 0;
    padding: 0;
}

.logo {
    display: flex;
    align-self: center;
    justify-content: space-around;
    width: 16%;
}

#banner-hero{
    background: #efefef !important;
}

/* Footer*/
.btn {
    color: white;
}