@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

header{
    display: flex;
    align-items: center;
    border-bottom: 1px solid gray;
    justify-content: space-between;
}

.nav-bar a {
    margin: 24px;
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.container{
    margin: 0 64px 0 64px;
}

/* Team Members */
.intro-box, .members{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


/* Footer*/

footer{
    background-color: rgb(110, 170, 243);
}