<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{main/fragments/head :: head}">
	<title>Login</title>
</head>

<body>
	<div class="row">
		<div class="col bg-transparent d-flex flex-column justify-content-center align-content-center">
			<a role="button" class="d-flex align-items-center p-4 mb-2 gap-2 logo-skyedge" href="/">
				<img class="" th:src="@{/assets/favicon.png}" alt="Logo" width="40" height="40">
				<span class="text fs-4 color-web-text">SkyEdge</span>
			</a>
			<div class="custom-form form-container">
				<p th:text="${message}" th:if="${message ne null}" class="alert alert-primary"></p>
				<form action="#" th:action="@{/change-password}" th:object="${user}" method="post">

					<div>
						<input type="hidden" id="id" , name="id" th:field="*{userId}" />
						<input id="password" name="password" th:field="*{password}" type="password" class="form-control"
							placeholder="Password" required />
					</div>

					<div>
						<input id="password_confirm" name="password_confirm" type="password" class="form-control"
							placeholder="Confirm Password" oninput="check(this)" required />
					</div>
					<script language='javascript' type='text/javascript'>
						function check(input) {
							if (input.value != document.getElementById('password').value) {
								input.setCustomValidity('Password Must be Matching.');
							} else {
								// input is valid -- reset the error message
								input.setCustomValidity('');
							}
						}
					</script>
					<div class="btn_box">
						<button type="submit">
							Update password
						</button>
					</div>
				</form>
			</div>
		</div>
		<div class="col">
			<img th:src="@{/assets/Login_background.png}" class="image" alt="Background">
		</div>
	</div>
	<!-- Scripts -->
	<script type="text/javascript" th:src="@{/pages/Login/login.js}"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>