<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/account/head :: head}"></head>

<body>
	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-md-6 d-flex align-items-center justify-content-center">
				<div class="forgot-form text-center">
					<div class="forgot-content d-flex justify-content-center align-items-center flex-column">
						<i class="fa-solid fa-circle-exclamation text-success fa-2x"></i>
						<h2>Reset password</h2>
						<p>Enter your new password below. Make sure it's something you haven't used before on this site.</p>
						<p th:text="${message}" th:if="${message ne null}" class="alert alert-primary"></p>
					</div>

					<form action="#" th:action="@{/change-password}" th:object="${user}" method="post">
						<div class="forgot-input d-flex justify-content-center align-items-center">
							<input type="hidden" id="id" , name="id" th:field="*{userId}" />
							<input id="password" name="password" th:field="*{password}" type="password" class="form-control"
								placeholder="Password" required />
							<input id="password_confirm" name="password_confirm" type="password" class="form-control" placeholder="Confirm Password"
								oninput="check(this)" required />
						</div>
	
						<a type="submit" class="btn btn-primary custom-btn-width btn-login">Update</a>
					</form>
				</div>
			</div>
		</div>
		
		<div class="col-md-6 forgot-image">
			<img th:src="@{/assets/Login_background.png}" class="img-fluid" alt="Background">
		</div>
	</div>
	<!-- Scripts -->
	<script type="text/javascript" th:src="@{/pages/Login/login.js}"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>