<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Sign In</title>
</head>

<body>
    <form method="post" th:action="'/login'">
        <h2>Please sign in</h2>
        <p>
            <label for="username">Username</label>
            <input type="text" id="username" name="username" />
        </p>
        <p>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" />
        </p>
        <input type="submit" value="Login" />
    </form>
</body>

</html>