<!DOCTYPE html>
<html lang="en">

<head>
    <title>SkyEdge</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="./assets/favicon.png" type="image/x-icon">

    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/displays/MainDisplay/main.css}">
    <link rel="stylesheet" th:href="@{/pages/Cart/cart.css}">
    <link rel="stylesheet" th:href="@{/assets/css/typo.css}">
    <link rel="stylesheet" th:href="@{/assets/css/colors.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

</head>

<body>
    <!-- Nav Top -->
    <nav id="nav-top" class="navbar navbar-expand-lg bg-dark navbar-light d-none d-lg-block"
        th:replace="~{main/fragments/topnav :: topnav}"></nav>

    <!-- Header -->
    <nav id="header" class="navbar navbar-expand-lg navbar-light shadow"
        th:replace="~{main/fragments/header :: header}"></nav>

    <!-- Main content -->
    <div class="super-cart-container">
        <form class="block-info p-4 mb-4" >
            <div class="container block-box gap-2">
                <div class="cart-header d-flex justify-content-between align-items-center p-2">
                    <a role="button" class="fas fa-arrow-left fs-2 fw-bold text-decoration-none text-dark" th:href="@{/cart/payment-info}"></a>
                    <p class="title fs-2 fw-bold ms-2">Payment</p>
                    <div></div>
                </div>
                <div class="nav d-flex justify-content-between">
                    <div class="nav-item d-flex justify-content-center w-50">
                        <a onclick="toggleNav(this)" th:href="@{/cart/payment-info}" class="text-decoration-none">1. Information</a>
                    </div>
                    <div class="nav-item nav-item-active d-flex justify-content-center w-50">
                        <a  onclick="toggleNav(this)" th:href="@{/cart/payment}" class="text-decoration-none">2. Payment</a>
                    </div>
                </div>
                <div class="block-customer mt-3" id="payment-block">
                    <div class="block-customer-wrapper p-2">
                        <div class="d-flex flex-column gap-2 p-2">
                            <div class="w-100 d-flex">
                                <div class="popup-overlay" onclick="hidePopup()"></div>
                                <div class="input-wrapper flex-grow-1">
                                    <input type="text" id="voucher-input" class="form-control" placeholder="Enter voucher code" onclick="showPopup()">
                                    <div id="popup" class="popup">
                                        <ul>
                                            <li onclick="selectVoucher('Voucher 1')">Voucher 1</li>
                                            <li onclick="selectVoucher('Voucher 2')">Voucher 2</li>
                                            <li onclick="selectVoucher('Voucher 3')">Voucher 3</li>
                                        </ul>
                                    </div>
                                </div>
                                <button class="btn btn-light text-secondary badge mx-1">Apply</button>
                            </div>
                            <div class="d-flex flex-column">
                                <div class="d-flex">
                                    <p class="flex-grow-1 text-secondary">Number of products</p> 
                                    <p></p>
                                </div>
                                <div class="d-flex">
                                    <p class="flex-grow-1 text-secondary">Products money (Temporary)</p> 
                                    <p>th:text="'$' +${productInCart.cost}"</p>
                                </div> 
                                <div class="d-flex">
                                    <p class="flex-grow-1 text-secondary">Transport fee</p> 
                                    <p>Free</p>
                                </div>
                            </div>
                            <div class="d-flex">
                                <p class="flex-grow-1 text-secondary">Reduce SkyMember <span class="badge border border-success text-success">S-MEM</span></p>
                                <p class="fw-bold">th:text="'$' +${totalproductInCart.cost}"</p>
                            </div>
                        </div>
                        <div class="py-2">
                            <p class="fw-bold">Billing Information</p>
                            
                            <div class="input-wrapper flex-grow-1 p-2">
                                <button type="button" id="method-input" class="border-0 bg-white d-flex w-100" onclick="showMethodPopup()">
                                    <div class="flex-grow-1 d-flex align-items-center gap-2">
                                        <i class="fas fa-credit-card text-success icon-method"></i> 
                                        <p class="text-secondary text-center mb-0 text-method">Select a payment method</p> 
                                    </div>
                                    <i class="fas fa-chevron-right  text-success"></i>
                                </button>
                                <div id="method-popup" class="method-popup">
                                    <ul>
                                        <li onclick="selectPaymentMethod('Cast')">Cast</li>
                                        <li onclick="selectPaymentMethod('Credit Card')">Credit Card</li>
                                        <li onclick="selectPaymentMethod('S-Money')">S-Money</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div>
                            <p class="fw-bold">Delivery Details</p>
                            <div class="p-2">
                                <div class="d-flex flex-column">
                                    <div class="d-flex">
                                        <p class="flex-grow-1 text-secondary">Customer</p> 
                                        <p><span class="badge border border-success text-success">S-MEM</span> th:text="${user.userName}"</p>
                                    </div>
                                    <div class="d-flex">
                                        <p class="flex-grow-1 text-secondary">Phone number</p> 
                                        <p>th:text="${user.phone}"</p>
                                    </div> 
                                    <div class="d-flex">
                                        <p class="flex-grow-1 text-secondary">Email</p> 
                                        <p>th:text="${user.email}"</p>
                                    </div>
                                    <div class="d-flex">
                                        <p class="flex-grow-1 text-secondary">Delivery Address</p> 
                                        <p>th:text="${user.address}"</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-3 mt-2 d-flex flex-column rounded-3">
                    <div class="total-box d-flex justify-content-between">
                        <p class="title-temp">Temporary Total:</p>
                        <span class="total text-success fw-bold" >$48</span>
                    </div>

                    <div class="btn-submit mt-0 d-grid">
                        <button type="submit"
                            class="button-go-next btn btn-success d-flex flex-column justify content-center align-items-center ">Continue</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <!-- <button id="backToTop" class="btn-back-to-top">
        <strong>Up to head</strong>
    </button> -->
    <footer class="bg-dark">
        <div id="footer" class="container" th:replace="~{main/fragments/footer :: footer}"></div>

        <!-- Copyright -->
        <div id="copyright" class="bg-black copy-right py-3 w-100"
            th:replace="~{main/fragments/copyright :: copyright}"></div>
    </footer>
    <!-- Scripts -->
    <script th:src="@{/pages/Cart/cart.js}"></script>
    <script th:src="@{/displays/MainDisplay/main.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>