<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>SkyEdge</title>
    <th:block th:insert="~{main/fragments/head :: head}"></th:block>
    <link rel="stylesheet" th:href="@{/pages/ProductDetails/product-details.css}">

</head>

<body>
    <!-- Nav Top -->
    <nav id="nav-top" class="navbar navbar-expand-lg bg-dark navbar-light d-none d-lg-block"
        th:replace="~{main/fragments/topnav :: topnav}"></nav>

    <!-- Header -->
    <nav id="header" class="navbar navbar-expand-lg navbar-light shadow"
        th:replace="~{main/fragments/header :: header}"></nav>

    <!-- Main content-->
    <section class="bg-light">
        <div class="container p-5" th:object="${products}">
            <div class="row">
                <!-- Glasses Image-->
                <div class="col-5">
                    <img class="card-img img-fluid h-100 rounded" th:src="@{'/images/' + ${product.imageFileName}}" alt="Product Image" id="product-detail">
                </div>

                <!-- Start Glasses Information-->
                <div class="col-7">
                    <div class="card">
                        <div class="card-body">
                            <p class="h2" th:text="${product.name}"></p>
                            <p class="h3 py-2 text-danger" th:text="'$' + ${product.price}"></p>
                            <p class="py-2">
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-secondary"></i>
                                <!-- <span class="list-inline-item text-dark">Rating 4.8 | 36 Comments</span> -->
                            </p>
                            <div class="d-flex gap-2 align-items-center">
                                <p class="fs-6 fw-bold">Category:</p>
                                <p class="text-muted" th:text="${product.category}"></p>
                            </div>
                            <div class="d-flex gap-2 align-items-center">
                                <p class="fs-6 fw-bold">Description:</p>
                                <p class="text-secondary" th:text="${product.description}"></p>
                            </div>
                            <div class="d-flex gap-2 align-items-center">
                                <p class="fs-6 fw-bold">Remaining products:</p>
                                <p class="text-muted" th:text="${product.stock}"></p>
                            </div>

                            <p class="fs-6 fw-bold">Component details:</p>
                            <div class="d-flex align-items-center gap-3">
                                <div>
                                    <p class="fs-6" th:text="'Frame Front : ' + ${product.front} + 'mm'"></p>
                                    <p class="fs-6" th:text="'Frame Side: ' + ${product.side} + 'mm'"></p>
                                </div>
                                <div>
                                    <p class="fs-6" th:text="'Lens Width: ' + ${product.width} + 'mm'"></p>
                                    <p class="fs-6" th:text="'Lens Height: ' + ${product.height} + 'mm'"></p>
                                </div>
                            </div>
                            <div class="d-flex gap-2 align-items-center">
                                <p class="fs-6 fw-bold">Manufacturer&Importer:</p>
                                <p class="text-muted" th:text="${product.manufacturer}"></p>
                            </div>
                            <div class="d-flex gap-2 align-items-center">
                                <p class="fs-6 fw-bold">Country of Manufacturer:</p>
                                <p class="text-muted" th:text="${product.country}"></p>
                            </div>


                            <form action="/product-details/add" method="GET">
                                <input type="hidden" name="product-id" th:value="${product.id}">
                                <div class="row">
                                    <div class="col-auto">
                                        <ul class="list-inline pb-3">
                                            <li class="list-inline-item text-right">
                                                <b>Quantity</b>
                                                <input type="number" name="product-quantity" id="product-quantity"
                                                    value="1">
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                                <div class="row pb-3">
                                    <!-- <div class="col d-grid">
                                        <button id="buy-button" class="btn btn-success btn-lg" name="submit"
                                            value="buy">Buy</button>
                                    </div> -->
                                    <div class="col d-grid">
                                        <button type="submit" class="btn btn-success btn-lg" name="submit"
                                            value="addtocard">Add To Cart</button>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- End Glasses Information-->

            </div>
        </div>
    </section>
    <!-- End of Main content-->

    <!-- Start Article-->
    <section class="py-5">
        <div class="container">
            <!--Start Page Wrapper-->
            <div id="carousel-related-product">
                <div class="row">
                    <!-- Display products -->
                </div>
            </div>
            <!-- End Page Wrapper -->
        </div>
    </section>
    <!-- End Article-->

    <!-- Start Footer -->
    <footer class="bg-dark">
        <div id="footer" class="container" th:replace="~{main/fragments/footer :: footer}"></div>

        <!-- Copyright -->
        <div id="copyright" class="bg-black copy-right py-3 w-100"
            th:replace="~{main/fragments/copyright :: copyright}"></div>
    </footer>
    <!-- Close Footer -->

    <!-- Scripts -->
    <script th:src="@{/pages/Home/home.js}"></script>
    <script th:src="@{/displays/MainDisplay/main.js}"></script>
    <script th:src="@{/pages/ProductDetails/product-details.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>