<!-- Top Nav -->
<nav id="nav-top" class="navbar navbar-expand-lg bg-dark navbar-light d-none d-lg-block" th:fragment="topnav">
    <div id="nav-top" class="container text-light" >
        <!-- Contact information -->
        <div>
            <a href="mailto:hanu@gmail.com" class="navbar-sm-brand text-light text-decoration-none">
                <i class="fa-solid fa-envelope"></i> hanu@gmail.com
            </a>
            <a href="tel:032-323-3232" class="navbar-sm-brand text-light text-decoration-none">
                <i class="fa-solid fa-phone"></i> 032-323-3232
            </a>
        </div>

        <!-- Social icons -->
        <div>
            <a href="https://www.facebook.com/" class="text-light text-decoration-none" target="_blank">
                <i class="fab fa-facebook-f fa-sm fa-fw me-2"></i>
            </a>
            <a href="https://www.instagram.com/" class="text-light text-decoration-none" target="_blank">
                <i class="fab fa-instagram fa-sm fa-fw me-2"></i>
            </a>
            <a href="https://www.linkedin.com/" class="text-light text-decoration-none" target="_blank">
                <i class="fab fa-linkedin fa-sm fa-fw me-2"></i>
            </a>
        </div>
    </div>
</nav>
